@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI')
  url('./src/fonts/Segoe-UI.ttf') format('trutype'),
  url('./src/fonts/segoe-ui-light.ttf') format('trutype'),
  url('./src/fonts/segoe-ui-semibold.ttf') format('trutype'),
  url('./src/fonts/Segoe-UI-Bold.ttf') format('trutype');
}
*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700:700;
  --ff-roboto: 'Roboto', sans-serif;
  --ff-segoe-ui: 'Segoe UI', sans-serif;

  --clr-bg: #050522;
  --clr-title: #EF5858;
  --clr-text: #F4F4F4;
  --clr-accent: #FFDE69;
  --clr-bg-form: #FFECAA;
  --clr-checkbox: #D7D7D7;

  --border-radius-container: 30px;
}

body {
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  height: 100vh;
  overflow: hidden;
  font-family: var(--ff-segoe-ui);
  font-weight: var(--fw-400);
  font-size: 20px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  background: var(--clr-bg);
  border-radius: var(--border-radius-container);

}
.starter{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* Затемнение при открытии форм регистрации */
.layout {
  opacity: 50%;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 73%;
  margin-bottom: 60px;
}

img {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.title {
  color: var(--clr-title);
  font-size: 36px;
  font-family: var(--ff-roboto);
  font-weight: var(--fw-400);
}
.subtitle{
  color: var(--clr-text);
  font-weight: var(--fw-300);
  text-align: center;
}

.button-container{
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 36px;
}

button, a {
  cursor: pointer;
}
.btn{
  width: 100%;
  border-radius: 15px;
  padding: 15px 0;
}
.btn-creation{
  background: var(--clr-accent);
  font-weight: var(--fw-600);
}
.btn-to-login{
  border: 3px solid var(--clr-accent);
  color: var(--clr-accent);
  background: var(--clr-bg);
  font-weight: var(--fw-600);
}
.rights{
  color: var(--clr-accent);
  font-size: 11px;
  margin-bottom: 20px;
}

/* Login Form */

.login{
  background: var(--clr-bg-form);
  width: 100%;
  border-radius: var(--border-radius-container);
  color: var(--clr-bg);
  padding: 25px;
  padding-bottom: 20px;
  position: absolute;
  z-index: 100;
  bottom: -1000px;
  transition: bottom .7s ease-in-out;
}

.header-login {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  width: 100%;
  margin-bottom: 25px;
}
.subtitle-login {
  text-align: start;
  color: var(--clr-bg );
  font-weight: var(--fw-400);
  grid-area: 1 / 1 / 2 / 2;
}
.title-login {
  color: var(--clr-bg);
  font-family: var(--ff-segoe-ui);
  font-weight: var(--fw-700);
  font-size: 30px;
  grid-area: 2 / 1 / 3 / 2;
  line-height: 48px;
}
.btn-close {
  grid-area: 1 / 2 / 3 / 3;
  max-width: 26px;
  background: none;
  border: none;
}

input{
  width: 100%;
  background: none;
  padding-left: 20px;
  padding-block: 18px;
  font-size: .9rem;
  border: 1px solid var(--clr-bg);
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
input[name='username'] {
  background-image: url('/src/images/icons/eye.svg');

  &:focus{
    background-image: url('/src/images/icons/eye-focus.svg');
    border-width: 2px;
  }

  &:focus, &:not(:placeholder-shown), &:-webkit-autofill {
    &+label {
      font-size: 15px;
      opacity: 100%;
      top: 123px;
      z-index: 20;
    }
  }
}
input[name='password'] {
  background-image: url('/src/images/icons/lock.svg');
  margin-bottom: 10px;

  &:focus{
    background-image: url('/src/images/icons/lock-focus.svg');
    border-width: 2px;
  }

  &:focus, &:not(:placeholder-shown), &:-webkit-autofill {
    &+label {
      font-size: 15px;
      opacity: 100%;
      top: 203px;
      z-index: 20;
    }
  }
}

.username-label, .password-label {
  position: absolute;
  color: #000;
  opacity: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
  transition: 0.3s;
  background-color: var(--clr-bg-form);
  padding-inline: 10px;
}
.username-label{
  top: 150px;
  left: 45px;
}
.password-label{
  top: 230px;
  left: 45px;
}

/* Custom checkbox */
.pass{
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.checkbox-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.checkbox-input {
  display: none;
}
.checkbox-input + .checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkbox-input + .checkbox-label::before{
  content: '';
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  margin-bottom: 0;
  margin-right: 4px;
  background: var(--clr-checkbox);
  border: 1px solid var(--clr-bg);
  border-radius: 5px;
  flex-shrink: 0;
  flex-grow: 0;
}
.checkbox-input:checked + .checkbox-label::before {
  background-image: url('/src/images/icons/checkbox.svg');
  background-size: contain;
}
.checkbox-input:hover + .checkbox-label::before{
  border-color: var(--clr-title);
}
.checkbox-label:hover{
  color: var(--clr-title);
}

.pass > a {
  text-decoration: none;
  color: var(--clr-bg);
  transition: border-bottom .3s ease-in-out, color .3s ease-in-out;
}
.pass > a:hover{
  border-bottom: 1px solid var(--clr-title);
  color: var(--clr-title);
}

.button-container-login {
  width: 100%;
  margin-bottom: 10px;
}
.btn-login {
  border-color: var(--clr-bg);
  background: var(--clr-bg);
  color: var(--clr-accent);
  transition: transform .3s ease;
}
.btn-login:hover{
  transform: scale(1.05);
}

.link-to-register {
  font-size: 18px;
  text-align: center;
}
.link-to-register > a {
  font-weight: var(--fw-600);
  color: var(--clr-title);
}